.imperio {
    background-color: red;
}

.rebelde {
    background-color: rgba(0, 0, 173, 0.5);
}

#darth-vader {
    font-size: 100px;
}

#luke-skywalker {
    font-style: italic;
}

#soldado {
    border: 5px dashed rgb(235, 220, 12);
}

.soldado {
    letter-spacing: 10px;
}

.unidades-de-apoyo {
    text-align: center;
}

.nave {
    text-transform: uppercase;
}